<!DOCTYPE html>
<html>
  <head>
  <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="menu"> 
  	<%= link_to "Home", root_path %>
  	<%= link_to "Create new note", new_post_path %>
  </div>
    <%= yield %>
  </body>
</html>
